In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate
from IPython.display import display, HTML

In [2]:
df = pd.read_excel('Dataset Project 1.xlsx', header=1)
df.columns

Index(['Age', 'Monthly Revenue', 'Debt Ratio', 'Rated Exposure',
       '# Overdue 30-59 Days', '# Overdue 60-89 Days', '# Overdue 90+ Days',
       'Serious Delinquencies in past 2 years'],
      dtype='object')

In [3]:
missing_rev = df[df['Monthly Revenue'].isna()]
has_rev = df.dropna(axis=0, subset=['Monthly Revenue'])
zero_rev = has_rev[has_rev['Monthly Revenue']==0]
nonzero_rev = has_rev[has_rev['Monthly Revenue']>0]

In [4]:
missing_rating_and_rev = df[(df['Monthly Revenue'].isna()) & (df['Rated Exposure'].isna())]
has_rating_missing_rev = df[(df['Monthly Revenue'].isna()) & (df['Rated Exposure']>=0)]

In [15]:
has_rating_missing_rev

,Age,Monthly Revenue,Debt Ratio,Rated Exposure,# Overdue 30-59 Days,# Overdue 60-89 Days,# Overdue 90+ Days,Serious Delinquencies in past 2 years
1,58,NaN,3870.0,0.0,0,0,0,0
14,78,NaN,888.0,0.0,0,0,0,0
15,58,NaN,1328.0,2.0,0,0,0,0
25,42,NaN,1296.0,0.0,3,0,0,1
29,59,NaN,3252.0,0.0,5,0,1,1
30,41,NaN,1421.0,0.0,1,0,0,0
31,30,NaN,1513.0,0.0,0,0,0,0
33,55,NaN,805.0,0.0,0,0,0,0
35,69,NaN,5089.0,0.0,1,0,0,0
37,47,NaN,2078.0,0.0,3,1,0,1
57,56,NaN,126.0,0.0,0,0,1,0
63,48,NaN,3082.0,0.0,8,2,1,1
67,56,NaN,2132.0,0.0,0,0,0,1
72,54,NaN,953.0,0.0,0,0,0,0
76,54,NaN,1762.0,1.0,2,0,0,1
82,60,NaN,40.0,0.0,0,0,0,0
88,58,NaN,54.0,0.0,0,0,0,0
91,86,NaN,18.0,0.0,0,0,0,0
101,82,NaN,175.0,0.0,0,0,0,0
112,44,NaN,2591.0,0.0,0,1,0,1
129,53,NaN,2829.0,0.0,0,0,0,1
134,63,NaN,183.0,0.0,0,0,0,0
137,42,NaN,5152.0,0.0,0,0,0,1
141,60,NaN,2102.0,0.0,0,0,0,0
147,64,NaN,7335.0,0.0,0,0,0,0
151,36,NaN,0.0,0.0,0,0,2,1
152,28,NaN,541.0,0.0,1,2,0,1
154,64,NaN,1715.0,0.0,0,0,0,0
156,68,NaN,123.0,0.0,0,0,0,0
172,66,NaN,911.0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...
44847,65,NaN,8778.0,1.0,0,0,0,0
44854,41,NaN,650.0,0.0,0,1,0,1
44861,53,NaN,0.0,0.0,0,0,0,0
44863,59,NaN,2039.0,1.0,0,0,0,0
44887,41,NaN,925.0,0.0,0,0,2,1
44900,56,NaN,0.0,1.0,0,0,0,0
44902,35,NaN,577.0,0.0,0,0,0,0
44903,32,NaN,113.0,0.0,0,1,0,1
44911,92,NaN,32.0,0.0,0,0,0,0
44913,37,NaN,3341.0,0.0,0,0,0,0
44914,69,NaN,3665.0,0.0,0,0,0,0
44923,53,NaN,1367.0,0.0,0,0,0,0
44924,48,NaN,2840.0,0.0,0,0,0,0
44933,46,NaN,3621.0,0.0,1,0,0,0
44950,36,NaN,2730.0,0.0,0,0,0,1
44951,56,NaN,3134.0,0.0,0,0,0,0
44955,46,NaN,117.0,0.0,0,0,0,1
44957,65,NaN,1187.0,0.0,0,0,0,0
44961,79,NaN,190.0,0.0,0,0,0,1
44971,50,NaN,1305.0,0.0,1,0,0,1
44972,42,NaN,497.0,0.0,0,0,0,0
44980,81,NaN,0.0,0.0,0,0,0,0
44986,82,NaN,634.0,1.0,0,0,0,0
44993,52,NaN,924.0,0.0,0,0,0,0
45007,44,NaN,3053.0,2.0,0,0,0,0
45034,59,NaN,1651.0,0.0,0,0,0,0
45037,50,NaN,837.0,0.0,0,0,0,0
45043,71,NaN,23.0,0.0,0,0,0,0
45051,31,NaN,933.0,0.0,1,0,0,0
45056,56,NaN,761.0,2.0,0,0,0,0

In [16]:
has_revenue_has_rating = df[(df['Monthly Revenue']>=0) & (df['Rated Exposure']>=0)]
by_rating = has_revenue_has_rating.groupby('Rated Exposure').mean()
by_rating

,Age,Monthly Revenue,Debt Ratio,# Overdue 30-59 Days,# Overdue 60-89 Days,# Overdue 90+ Days,Serious Delinquencies in past 2 years
Rated Exposure,,,,,,,
0.0,52.590398,5799.064167,28.157400,0.649904,0.420477,0.474753,0.201668
1.0,50.761551,6893.497876,16.150227,0.624535,0.340281,0.408922,0.241370
2.0,45.409075,7198.645516,33.095876,0.703119,0.391173,0.461184,0.263382
3.0,45.284838,7490.267509,51.515002,0.620939,0.303249,0.387365,0.285921
4.0,44.558192,8302.871186,40.574912,0.644068,0.297175,0.388701,0.314124
5.0,45.526316,8587.162679,33.168334,0.502392,0.186603,0.253589,0.296651
6.0,47.865385,8446.153846,54.386525,0.461538,0.115385,0.153846,0.384615
7.0,45.846154,8536.230769,159.352789,0.923077,0.461538,0.384615,0.384615
8.0,48.333333,4910.000000,0.206211,0.500000,0.000000,0.666667,0.333333
9.0,38.000000,2789.000000,0.643728,0.000000,0.000000,0.000000,0.000000
10.0,60.000000,7500.000000,0.133582,0.000000,0.000000,0.000000,0.000000

In [12]:
c = df.columns[1]
temp = df.dropna(axis=0, subset=[c])
temp
temp.sort_values(by=c, ascending=False)

,Age,Monthly Revenue,Debt Ratio,Rated Exposure,# Overdue 30-59 Days,# Overdue 60-89 Days,# Overdue 90+ Days,Serious Delinquencies in past 2 years
15850,68,1794060.0,0.002776,0.0,0,0,0,0
17010,67,730483.0,0.005570,0.0,1,0,0,0
13158,50,702500.0,0.008268,2.0,0,0,0,0
5919,43,428250.0,0.002557,1.0,0,0,0,0
19735,51,324000.0,0.176194,0.0,0,0,0,0
14027,34,251608.0,0.004304,0.0,1,0,0,0
1716,62,250000.0,0.022712,0.0,0,0,0,1
25315,57,235000.0,0.025366,1.0,0,0,0,0
28493,53,234600.0,0.050533,0.0,4,1,1,1
11215,29,159791.0,0.040133,0.0,0,0,0,0
7486,48,150000.0,0.017707,4.0,0,0,0,0
26121,51,142000.0,0.021373,4.0,0,0,0,0
19807,47,140000.0,0.001036,2.0,0,0,0,0
4853,63,126333.0,0.033728,0.0,0,0,0,0
125,52,121200.0,0.006642,0.0,0,0,0,0
9307,58,101167.0,0.093646,0.0,0,0,0,1
35552,65,101056.0,0.036187,0.0,0,0,0,0
22726,42,100000.0,0.172858,2.0,0,0,0,0
17054,61,89786.0,0.012686,1.0,0,0,0,0
3277,34,88430.0,0.007859,0.0,0,0,0,0
11638,63,86980.0,0.021947,3.0,0,0,0,0
5855,48,85000.0,0.085140,3.0,0,0,0,0
39920,62,83000.0,0.064855,0.0,0,0,0,0
14916,31,81000.0,0.005642,2.0,2,0,0,1
25459,52,80176.0,0.039450,1.0,0,0,0,0
29767,35,78500.0,0.021669,2.0,0,0,0,1
18017,57,78111.0,0.024862,0.0,0,0,0,0
43847,56,78000.0,0.078012,3.0,1,0,1,1
27470,40,78000.0,0.021025,2.0,0,0,0,1
31125,74,77170.0,0.005650,1.0,0,0,0,0
...,...,...,...,...,...,...,...,...
6021,48,0.0,3552.000000,0.0,0,0,11,1
19176,68,0.0,96.000000,1.0,0,0,0,0
43844,45,0.0,2433.000000,1.0,0,0,0,0
6729,48,0.0,2442.000000,1.0,0,0,0,0
44609,29,0.0,494.000000,0.0,0,0,0,1
13779,39,0.0,1901.000000,0.0,1,0,0,0
21430,30,0.0,147.000000,0.0,0,0,0,0
34728,56,0.0,2438.000000,0.0,1,0,0,0
3071,62,0.0,2773.000000,3.0,0,0,0,0
26988,51,0.0,109.000000,0.0,0,0,0,1
12333,29,0.0,64.000000,0.0,0,0,0,0
33579,40,0.0,643.000000,0.0,0,2,0,0
24322,37,0.0,2004.000000,4.0,0,0,0,0
18292,23,0.0,0.000000,0.0,0,0,0,0
39749,31,0.0,2087.000000,0.0,0,0,0,1
14514,67,0.0,443.000000,0.0,0,0,0,0
37822,40,0.0,4564.000000,4.0,0,0,0,0
19154,67,0.0,12.000000,0.0,0,0,0,0
9401,33,0.0,2398.000000,1.0,1,0,1,1
43863,23,0.0,19.000000,0.0,0,0,0,0
15382,33,0.0,1062.000000,0.0,0,0,0,0
10496,75,0.0,1215.000000,1.0,0,0,0,0
24715,23,0.0,1.000000,0.0,0,0,0,0
36520,34,0.0,1245.000000,2.0,0,0,0,0
11376,26,0.0,504.000000,0.0,0,0,0,0
18084,55,0.0,590.000000,0.0,0,0,0,0
28833,24,0.0,382.000000,0.0,1,0,3,1
36521,74,0.0,3737.000000,0.0,0,0,0,0
37402,25,0.0,619.000000,1.0,3,1,2,1
18490,74,0.0,1.000000,0.0,0,0,0,0

In [14]:
temp.describe()

,Age,Monthly Revenue,Debt Ratio,Rated Exposure,# Overdue 30-59 Days,# Overdue 60-89 Days,# Overdue 90+ Days,Serious Delinquencies in past 2 years
count,36420.000000,3.642000e+04,36420.000000,36420.000000,36420.000000,36420.000000,36420.000000,36420.000000
mean,50.298270,6.452263e+03,28.624407,0.883608,0.649478,0.385585,0.448545,0.229462
std,14.267377,1.263817e+04,446.594563,1.160570,5.134173,5.088125,5.113121,0.420493
min,21.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,3.286000e+03,0.145980,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.000000,5.166000e+03,0.304183,0.000000,0.000000,0.000000,0.000000,0.000000
75%,60.000000,8.000000e+03,0.501672,2.000000,0.000000,0.000000,0.000000,0.000000
max,103.000000,1.794060e+06,49112.000000,10.000000,98.000000,98.000000,98.000000,1.000000

In [ ]:
display(temp.groupby(c).count()['Age'])